#comentario
	h2
		border-bottom 1px solid #2f2f2f
		color #222
	#comentariodatos
		color #444
		h3
			font-size 14px
			font-weight 100
			margin .4em 5%
		h4
			font-size 12px
			margin 1em 5%
			font-weight 900
			text-align right
