#envio
	h2
		border-bottom 1px solid #2f2f2f
		color #222
	#datosenvio
		h3
		h4
			display inline-block
			font-size 13px
			font-weight 100
			margin .4em 5% .4em 5%
		h3
			width 90%
		h4
			margin-right 0
			width auto
		#cuadro
			background-color #eee
			border 1px solid #999
			border-radius 5px
			margin 1em auto
			padding .3em
			width 90%
			#mapa
				border 1px solid #999
				border-radius 5px
				height 10em
				width 100%
	#enviocancelar
	#envioprogramar
		form
			input
				background-color #fff
				border 1px solid #ccc
				border-radius 4px
				box-shadow inset 0 1px 1px rgba(0,0,0,.075)
				color #555
				display inline-block
				font-size 12px
				line-height 1.42em
				margin 0 0 1em 20%
				padding .5em 10%
				width 60%
			label
				display block
				font-size 12px
				font-weight 900
				margin .3em .2em
			#check
			#check2
				margin 0 10%
				width 80%
				height 1.3em
				overflow hidden
				div
					margin 1em auto 0
					width 200px
					input
						font-size 12px
						padding .5em 1em
						width 100px
					label
						display inline-block
						font-size 12px
						font-weight 900
						margin .3em .2em
				input
					margin 0 1em 0 0
					width auto
					height auto
					font-size 16px
				label
					display inline-block
					font-size 14px
	#enviocancelar
		h2
			span
				text-shadow: 0 0 0 rgba(0, 0, 0, 1);
		p
			color #666
			font-size 11px
			margin 1em 5%
		form
			margin 1em 5%
			input[type="submit"]
				background-color #d9534f
				border 1px solid #d43f3a
				border-radius 4px
				color #fff
				display block
				font-size 16px
				margin 1em 0
				padding .5em 0
				text-align center
				text-decoration none
				width 100%
				&:hover
					background-color #b7332a
	#enviodatos
		color #444
		h2
			span
				float right
				font-weight 100
		h3
			display inline-block
			font-size 26px
			margin .4em 0 .4em 5%
			width 59%

		h4
			display inline-block
			font-size 16px
			margin 0.3em 0 .3em 5%
			width 50%
			span
				font-size 12px
				font-weight 100
				margin-right .5em
				vertical-align middle
		p
			display inline-block
			font-size 14px
			text-align center
			vertical-align middle
			width 29%
		#cuando
			background-color #fffaf4
			border 1px solid #f3e0c7
			border-radius 3px
			display inline-block
			margin .4em 0 0 5%
			vertical-align top
			width 35%
			h4
				display block
				font-size 8px
				font-weight 900
				margin .4em 0
				text-align center
				text-transform uppercase
				width auto
			p
				font-size 11px
				margin .2em
				width 42%
				&.unico
					margin-bottom .6em
					text-align center
					width 90%
			a
				background-color #fff
				border 1px solid #eee
				border-radius 2px
				color #333
				display block
				font-size 12px
				margin .4em
				padding .3em
				text-align center
				text-decoration none
				&:hover
					background-color #eee
					border-color #ccc
		#entregar
			background-color #4dc05b
			border 1px solid #3bba38
			border-radius 4px
			color #fff
			display block
			font-size 16px
			margin 1em 5%
			padding .5em 0
			text-align center
			text-decoration none
			width 90%
			&:hover
				background-color #2c9f29
	#enviodetalle
		h3
			font-size 13px
			font-weight 100
			margin .4em 5% .4em 5%
	#envioprogramar
		form
			margin 1em 5%
			div
				&.form
					width 38%
					display inline-block
					margin 0 5%
			input[type="submit"]
				background-color #fff
				border 1px solid #eee
				color #333
				display block
				margin 1em 5%
				text-align center
				text-decoration none
				width 90%
				&:hover
					background-color #eee
					border-color #ccc
		p
			color #666
			font-size 11px
			margin 1em 5%
