@import 'nib'
@import 'normalize'
@import 'fuentes'

vendor-prefixes = webkit moz o ms official

naranja = #ff8a00

body
	background-color naranja
	color #333
	font-size 16px

form
	margin 10em auto 0
	overflow hidden
	width 18.75em
	text-align center

input
	font-size 20px
	height 2em
	line-height 1em
	margin 1em 0 0 -1em
	padding .2em .2em .2em 1.6em
	width 12em
	border-radius .25em

input[type="submit"]
	margin 1em 
	padding 0
	width 60%

label
	color #666
	font-size 20px
	left .7em
	position relative
