#usuario
	h2
		border-bottom 1px solid #2f2f2f
		color #222
	#usuariodatos
		color #444
		h3
		h4
			font-size 14px
			font-weight 100
		h3
			margin .4em 5% .4em 5%
		h4
			display inline-block
			width 32%
			margin .4em 12% .4em 5%
			&:firstchild()
				margin .4em 5% .4em 12%